{% extends "lectures/base.html" %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Gi oss en tilbakemelding</h1>
        
    <p class="lead">
    
    
    Var det noe som ikke fungerte som det skulle? 
    Eller har du kanskje forslag til forbedringer?
    <br><br>
    Uansett tar vi gjerne i mot din hendvendelse!
    </p>

    <form action="" method="post" class="form uniform">
        {% csrf_token %}
        {{form|crispy}}
        
        
        {% comment %}
        
        <div class="form-group">
        <input type="text" name="name" maxlength="64" class="form-control" placeholder="Name" title="" required="" id="id_name"></div>
        {{form.name}}
        
        {% bootstrap_field form.name show_label=False %}
        {% bootstrap_field form.email show_label=False %}
        {% endcomment %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Send inn</button>
        {% endbuttons %}
    </form>
  </div>


</main><!-- /.container -->


{% endblock content %}
